<h1>Create A New Account!</h1>

<%= form_for @student do |f| %>
  <h5><%= f.label("email") %><h5>
  <%= f.text_field(:email) %>
  <h5><%= f.label("name") %></h5>
  <%= f.text_field(:name) %>
  <h5><%= f.label("password") %></h5>
  <%= f.password_field(:password) %>
  <h5><%= f.label("gender") %></h5>
  <%= f.radio_button(:gender, "male") %>
  <h5><%= f.label("male") %></h5>
  <%= f.radio_button(:gender, "female") %>
  <h5><%= f.label("female") %></h5>
  <%= f.submit("log into scholar") %>
<% end %>
