<h1>Create A New Account!</h1>

<%= form_for @student do |f| %>
  <%= f.label("email") %>
  <%= f.text_field(:email) %>
  <%= f.label("name") %>
  <%= f.text_field(:name) %>
  <%= f.label("password") %>
  <%= f.password_field(:password) %>
  <%= f.label("gender") %>
  <%= radio_button_tag(:gender, "male") %>
  <%= label_tag("male") %>
  <%= radio_button_tag(:gender, "female") %>
  <%= label_tag("female") %>
  <%= f.submit("log into scholar") %>
<% end %>
