<h1>Welcome Back <%= @student.name %></h1>

<h2>Please note: The following scholarship deadlines are approaching</h2>
<h2>Take the time to review the following to determine your eligibility!</h2>
<%= link_to "Your Profile isn't complete, finsih your profile to have a better opportunity to gain scholarships", edit_student_path %>
<%= calendrier(:year => 2016, :month => 2, :day=> 25, :start_on_monday => true, :display => :week, :title => "My Month Of Scholarships". :builder => Lib::Calendrier::CalendrierBuilder::CustomBuilder) %>
<% if count_sorted_events(@event_by_date, cells_begin_time, cell_end_time) > 0 %>
	<ul>
	<% yield sorted_events(@events_by_date, cell_begin_time, cell_end_time) do |obj| %>
		<li><%= obj.title %></li>
		<% end %>
	</ul>
<% end %>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<%= link_to "Logout?", logout_path %>