<h1>Welcome Back <%= @student.name %></h1>

<h2>Please note: The following scholarship deadlines are approaching</h2>
<h2>Take the time to review the following to determine your eligibility!</h2>
<%= link_to "Your Profile isn't complete, finsih your profile to have a better opportunity to gain scholarships", edit_student_path %>
<% @i = 1 %>

<% @scholarships.each do |val, i| %>
	<div class="gpa_sch" id = "gpa_sch<%= val.id %>">
		<h2><b> Scholarship <%= "#{@i}" %>: </b></h2>
			<%= render partial: "scholarships/scholarship" locals: {scholarship: val} %>
			<%= link_to "#{val.name}", follow_path(val.id), {remote: true,  method: 'post', id: 'catalogue'} %><br>
		<p>Deadline: <div style="text-indent: 30px;"><%= val.deadline %></div></p>
		<p>Value:  <div style="text-indent: 30px;"><%= val.value %></div></p>
		<p>GPA worth: <div style="text-indent: 30px;"><%= val.gpa %></div></p>
	</div>
	<% @i = @i + 1 %>
<% end %>


<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<%= link_to "Logout?", logout_path %>